body{
    background-color: rgb(20, 20, 20)
}

h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;}

 h2{
        text-align: center;
        color: aliceblue;
        font-size: 50px;}

li{
    text-align: center;
        color: aliceblue;
        font-size: 50px;}

